<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical</title>
    <link rel="stylesheet" href="vertical.css">
    <link rel="shortcut icon" href="../images/Deadpool-Logo.png" type="image/x-icon">
</head>
<body>
    <nav>
        <ul id="cont">
            <li><a href="#">Home</a></li>
            <li><a href="#">Layout</a></li>
            <li id="mob"><a href="#">Mobiles</a>
                <ul id="menu">
                    <li id="imenu"><a href="#">Iphone</a>
                    <ul id="idrop">
                        <li><a href="#">Iphone 15 pro</a></li>
                        <li><a href="#">Iphone 15</a></li>
                        <li><a href="#">Iphone 14 pro</a></li>
                        <li><a href="#">Iphone 14</a></li>
                    </ul></li>
                    <li id="sam"><a href="#">Samsung</a>
                    <ul id="sam1">
                        <li><a href="#">S23 ultra</a></li>
                        <li><a href="#">S23</a></li>
                        <li><a href="#">S24 ultra</a></li>
                        <li><a href="#">S24</a></li>
                    </ul></li>
                    <li><a href="#">One plus</a></li>
                    <li><a href="#">Oppo</a></li>
                </ul>
            </li>
            <li id="lap"><a href="#">Laptop</a>
            <ul id="lap1">
                <li><a href="#">Macbook</a></li>
                <li><a href="#">Asus</a></li>
                <li><a href="#">Msi</a></li>
                <li><a href="#">HP</a></li>
            </ul>
        </li>
        </ul>
    </nav>
</body>
</html>