<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown</title>
    <link rel="stylesheet" href="dropdown.css">
    <link rel="shortcut icon" href="../images/Deadpool-Logo.png" type="image/x-icon">
</head>
<body>
    <nav>
        <ul id="cont">
            <li><a href="#">Home</a></li>
            <li id="drop1"><a href="#">Layout</a>
            <ul id="pay">
                <li><a href="#">UPI</a></li>
                <li><a href="#">Bank Transfer</a></li>
                <li><a href="#">CASH</a></li>
            </ul></li>
            <li id="drop"><a href="#">Services</a>
                <ul id="menu">
                    <li><a href="#">Mumbai</a></li>
                    <li><a href="#">Thane</a></li>
                    <li><a href="#">Chennai</a></li>
                </ul>
        </li>
        </ul>
        
    </nav>
    <h1>Deadpool</h1>
    <img src="../images/Deadpool-Logo.png" alt="" id="Deadpool">
    <p>lorem10000</p>
    <!-- <div id="Parent">
        <h1>child</h1>
    </div>
    <h1>otherelement</h1>
    <h2>bdhfaksd <a href="#">Anchor</a></h2>
    <h3>sdkvbskjdbk</h3> -->
    
</body>
</html>