<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 8</title>
    <link rel="stylesheet" href="task8.css">
    <link rel="shortcut icon" href="../images/Deadpool-Logo.png" type="image/x-icon">
</head>
<body>
    <nav>
        <ul id="cont">
            <li><a href="#">Home</a></li>
            <li id="drop1"><a href="#">Veg</a>
            <ul id="pay">
                <li><a href="#">Vada Pav</a></li>
                <li><a href="#">Dosa</a></li>
                <li><a href="#">Panner</a></li>
            </ul></li>
            <li id="drop"><a href="#">Non-Veg</a>
                <ul id="menu">
                    <li><a href="#">Biryani</a></li>
                    <li><a href="#">Tandoori</a></li>
                    <li><a href="#">Goat biryani</a></li>
                   
                </ul>
        </li>
        <li><a href="#">Soft & hot Drinks</a></li>
        </ul>
</body>
</html>