<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="footer1.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Revolution&display=swap" rel="stylesheet">
</head>
<body>
    <footer>
        <div id="left">
            <ul>
                <h3>ABOUT</h3>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Flipkart Stories</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Corporate Information</a></li>
            </ul>
            <ul>
                <h3>GROUP COMPANIES</h3>
                <li><a href="#">Myntra</a></li>
                <li><a href="#">Flipkart Wholesale</a></li>
                <li><a href="#">Cleartrip</a></li>
                <li><a href="#">Shopsy</a></li>
            </ul>
            <ul>
                <h3>HELP</h3>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Cancellation & Returns</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Report Infringement</a></li>
            </ul>
            <ul>
                <h3>CONSUMER POLICY</h3>
                <li><a href="#">Cancellation & Returns</a></li>
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Grievance Redressal</a></li>
                <li><a href="#">EPR Compliance</a></li>
            </ul>
        </div>
        <div id="right">
            <ul>
                <h3>Mail Us: </h3>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam corporis enim fugiat, illum, tenetur laboriosam illo consectetur dolores autem id accusamus. Numquam.</li>
            </ul>
            <ul>
                <h3>Register Office Address</h3>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores unde laborum consectetur harum at minima magni aliquam officia, nisi, quia minus rerum nobis odit nihil.</li>
            </ul>
        </div>
    </footer>
</body>
</html>